{% import 'macros.html' as radio %}
<!doctype html>
<html>
<head>
<meta content="width=300px" name="viewport">
<title>Control Panel</title>
<script>
  function loadPageData(){
    loadRadioHtml();
    setTimeout(function(){loadPageData();}, 10000);
  }
  function loadRadioHtml() {
    var request = new XMLHttpRequest();
    request.onreadystatechange = function(){
      if(request.responseText != ""){
        document.getElementById('{{ div }}').innerHTML = request.responseText;
      }
    }
    request.open('GET', '{{ radio_path }}', true);
    request.send();
  }
  function radioAction(form_name){
    var form = document.getElementById(form_name);
    var FD = new FormData(form);
    var request = new XMLHttpRequest();

    request.open('POST', '{{ radio_action_url }}', true);
    request.send(FD);
  }
</script>
</head>
<body onload='loadPageData()'>
<div id='{{ div }}'>
  Loading radio...
</div>
{{ radio.controlBar(radio_buttons) }}

</body>
</html>

