{% import 'radio-macros.html' as radio %}
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=350px">
<script src="static/bower_components/webcomponentsjs/webcomponents.js"></script>
<link rel="import" href="static/bower_components/paper-elements/paper-elements.html">
<title>Control Panel</title>
<script>
  function loadPageData(){
    loadRadioHtml();
    loadServicesHtml();
    setTimeout(function(){loadPageData();}, 10000);
  }
  function loadRadioHtml() {
    var request = new XMLHttpRequest();
    request.onreadystatechange = function(){
      selector = document.getElementById('selector');
      if(request.responseText && (selector != document.activeElement)){
        document.getElementById('radio').innerHTML = request.responseText;
      }
    }
    request.open('GET', '{{ radio_path }}', true);
    request.send();
  }
  function loadServicesHtml(){
    var request = new XMLHttpRequest();
    request.onreadystatechange = function(){
      if(request.readyState == 4 && request.status == 200){
        document.getElementById('services').innerHTML = request.responseText;
      }
    }
    request.open('GET', '{{ services_path }}', true);
    request.send();
  }
  function radioAction(form_name){
    var form = document.getElementById(form_name);
    var FD = new FormData(form);
    var request = new XMLHttpRequest();

    request.open('POST', '{{ radio_action_url }}', true);
    request.send(FD);
  }
  function servicesAction(form_name){
    var form = document.getElementById(form_name);
    var form_data = new FormData();
    var request = new XMLHttpRequest();

    form_data.append('flavor', form.flavor.value);
    form_data.append('service_name', form.service_name.value);
    form_data.append('board', form.board.value);
    var sliders = form.getElementsByTagName('paper-slider');
    if (sliders.length > 0) {
      form_data.append('target', sliders[0].value);
    }
    request.open('POST', '{{ services_action_url }}', true);
    request.send(form_data);
    loadServicesHtml();
  }
</script>
</head>
<body onload='loadPageData()'>
<div style='width:325px'>
<div style='background-color:#99DDEE;border-radius:10px;padding:5px'>
  <div id='radio'>
    <paper-spinner active></paper-spinner>
  </div>

  {{ radio.controlBar(radio_buttons) }}
</div>
<br>
<div style='background-color:#77FF77;border-radius:10px'>
  <div id='services'>
    <paper-spinner active></paper-spinner>
  </div>
</div>
</div>
</body>
</html>

