{% import 'radio-macros.html' as radio %}
<!doctype html>
<html>
<head>
<meta content="width=300px" name="viewport">
<title>Control Panel</title>
<script>
  function loadPageData(){
    loadRadioHtml();
    loadServicesHtml();
    setTimeout(function(){loadPageData();}, 10000);
  }
  function loadRadioHtml() {
    var request = new XMLHttpRequest();
    request.onreadystatechange = function(){
      selector = document.getElementById('selector');
      if(request.responseText && (selector != document.activeElement)){
        document.getElementById('radio').innerHTML = request.responseText;
      }
    }
    request.open('GET', '{{ radio_path }}', true);
    request.send();
  }
  function loadServicesHtml(){
    var request = new XMLHttpRequest();
    request.onreadystatechange = function(){
      if(request.readyState == 4 && request.status == 200){
        document.getElementById('services').innerHTML = request.responseText;
      }
    }
    request.open('GET', '{{ services_path }}', true);
    request.send();
  }
  function radioAction(form_name){
    var form = document.getElementById(form_name);
    var FD = new FormData(form);
    var request = new XMLHttpRequest();

    request.open('POST', '{{ radio_action_url }}', true);
    request.send(FD);
  }
  function servicesAction(form_name){
    var form = document.getElementById(form_name);
    var FD = new FormData(form);
    var request = new XMLHttpRequest();

    request.open('POST', '{{ services_action_url }}', true);
    request.send(FD);
    loadServicesHtml();
  }
</script>
</head>
<body onload='loadPageData()'>
<div id='radio'>
  Loading radio...
</div>
{{ radio.controlBar(radio_buttons) }}

<div id='services'>
  Loading services...
</div>
</body>
</html>

