<form id='stations'>
  <input type='hidden' name='action' value='change_station'>
  <select id='selector' name='selector' onchange=radioAction("stations")>
    {% for station in radio_info.stations %}
      {% if station == radio_info.station %}
        <option selected>{{ station }}</option>
      {% else %}
        <option>{{ station }}</option>
      {% endif %}
    {% endfor %}
  </select>
</form>
<table>
  <tr>
    <td>
      <img src="{{ radio_info.coverart_url }}" height="75px">
    </td>
    <td>
      <b>{{ radio_info.song }}</b><br>
      {{ radio_info.artist }}<br>
      {{ radio_info.album }}<br>
    </td>
  </tr>
</table>

