{% macro switchableTableRow(service) %}
<table>
  <tr>
    <td>
      {{service.name}}
    </td>
    <td>
      <b>
        {% if service.status %}
          On
        {% else %}
          Off
        {% endif %}
      </b>
    </td>
    <td>
      <form id='{{service.name}}' name='{{service.name}}'>
        <input type='hidden' name='board' value='{{service.board}}'>
        <input type='hidden' name='service_name' value='{{service.name}}'>
        <input type='hidden' name='flavor' value='{{service.flavor}}'>  
        <input type='button' value='Toggle' onclick=servicesAction('{{service.name}}')>
      </form>
    </td>
  </tr>
</table>
{%- endmacro %}

{% macro thermostatTableRow(service) %}
<table>
  <tr>
    <td>
      {{service.name}}
    </td>
    <td>
      <b>
        {{service.status[0]}}&deg;F
      </b>
    </td>
    <td>
      <form id='{{service.name}}' name='{{service.name}}'>
        <input type='hidden' name='board' value='{{service.board}}'>
        <input type='hidden' name='service_name' value='{{service.name}}'>
        <input type='hidden' name='flavor' value='{{service.flavor}}'>  
        <input type='number' name='target' value='{{service.status[1]}}' size=2  onchange=servicesAction('{{service.name}}')>
      </form>
    </td>
  </tr>
</table>
{%- endmacro %}
